.wp-block-navigation {
	position: relative;
	// Normalize list styles.
	ul,
	ul li {
		list-style: none;

		// Overrides generic ".entry-content li" styles on the front end.
		padding: 0;
	}
}

// Navigation block inner container.
.wp-block-navigation__container {
	// Vertically center child blocks, like Social Links or Search.
	align-items: center;

	// Reset the default list styles
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: none;
}
.wp-block-navigation__responsive-container {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 200ms;
	background-color: #fff;
	/*
		arbitrary, high z-index
		@todo: find correct value in order to make sure
		that this is always on top.
	*/
	z-index: 10;
	align-items: center;
	justify-content: center;
	&.is-open {
		display: flex;
		flex-direction: column;
		opacity: 1;
		ul {
			display: flex;
			flex-direction: column;
		}
	}
}
.wp-block-navigation__responsive-container-close {
	position: absolute;
	top: 12rem;
	right: 3rem;
	font-size: 1rem;
	background-color: #000;
	color: #fff;
}
// Justification.
.items-justified-center > ul {
	justify-content: center;
}

.items-justified-right > ul {
	justify-content: flex-end;
}

.items-justified-space-between > ul {
	justify-content: space-between;
}
@include break-mobile() {
	.wp-block-navigation__responsive-container-open,
	.wp-block-navigation__responsive-container-close {
		display: none;
	}
	.wp-block-navigation__responsive-container {
		display: flex;
		flex-direction: row;
		position: relative;
		opacity: 1;
		background-color: inherit;
	}
	.wp-block-navigation__container {
		// Horizontal layout
		display: flex;
		flex-wrap: wrap;

		// Vertical layout
		.is-vertical & {
			display: block;
		}
	}
}
