.wp-block-navigation {
	position: relative;
	// Normalize list styles.
	ul,
	ul li {
		list-style: none;

		// Overrides generic ".entry-content li" styles on the front end.
		padding: 0;
	}
}

// Navigation block inner container.
.wp-block-navigation__container {
	// Vertically center child blocks, like Social Links or Search.
	align-items: center;

	// Reset the default list styles
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: none;

	@include break-small() {
		// Horizontal layout
		display: flex;
		flex-wrap: wrap;

		// Vertical layout
		.is-vertical & {
			display: block;
		}
	}
}

// Menu feature for mobile.
.wp-block-navigation__responsive-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	/*
		arbitrary, high z-index
		@todo: find correct value in order to make sure
		that this is always on top.
	*/
	z-index: 1;
	align-items: flex-start;
	justify-content: flex-start;

	&.is-menu-open {
		display: flex;
		flex-direction: column;

		.wp-block-navigation__container {
			display: flex;
			flex-direction: column;
		}

		// Handle adminbar context.
		body.admin-bar & {
			top: 46px;
			@media (min-width: #{ (783px) }) {
				top: 32px;
			}
		}
	}

	@include break-small() {
		display: flex;
		flex-direction: row;
		position: relative;
		background-color: inherit;

		&.is-menu-open {
			flex-direction: row;

			.wp-block-navigation__container {
				flex-direction: row;
			}
		}
	}
}

.wp-block-navigation__responsive-container-open {
	@include break-small {
		display: none;
	}
}

.wp-block-navigation__responsive-container-close {
	position: absolute;
	top: 24px;
	right: 24px;
	color: currentColor;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	z-index: 2; // Needs to be above the modal z index itself.

	svg {
		fill: currentColor;
		pointer-events: none;
		display: block;
	}

	@include break-small() {
		display: none;
	}
}

// The menu adds a wrapping container.
.wp-block-navigation__responsive-close,
.wp-block-navigation__responsive-dialog,
.wp-block-navigation__responsive-content {
	width: 100%;
	height: 100%;
}

// Justification.
// These target the named container class to work even with the additional mobile menu containers.
.items-justified-center .wp-block-navigation__container {
	justify-content: center;
}

.items-justified-right .wp-block-navigation__container {
	justify-content: flex-end;
}

.items-justified-space-between .wp-block-navigation__container {
	justify-content: space-between;
}
