.wp-block-navigation {
	position: relative;
	// Normalize list styles.
	ul,
	ul li {
		list-style: none;

		// Overrides generic ".entry-content li" styles on the front end.
		padding: 0;
	}
}

// Navigation block inner container.
.wp-block-navigation__container {
	// Vertically center child blocks, like Social Links or Search.
	align-items: center;

	// Reset the default list styles
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: none;
	@include break-mobile() {
		// Horizontal layout
		display: flex;
		flex-wrap: wrap;

		// Vertical layout
		.is-vertical & {
			display: block;
		}
	}
}

// Menu feature for mobile.
.wp-block-navigation__responsive-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;

	/*
		arbitrary, high z-index
		@todo: find correct value in order to make sure
		that this is always on top.
	*/
	z-index: 10;
	align-items: center;
	justify-content: center;

	&.is-open {
		display: flex;
		flex-direction: column;
		.wp-block-navigation__container {
			display: flex;
			flex-direction: column;
		}
	}

	@include break-mobile() {
		display: flex;
		flex-direction: row;
		position: relative;
		background-color: inherit;

		&.is-open {
			flex-direction: row;

			.wp-block-navigation__container {
				flex-direction: row;
			}
		}
	}

	// Hide empty paragraph tags caused by wpautop. @todo, need to not output them in the first place.
	[data-micromodal-close] > p,
	[role="dialog"] > p,
	> p {
		display: none;
	}
}

.wp-block-navigation__responsive-container-open {
	@include break-mobile {
		display: none;
	}
}

.wp-block-navigation__responsive-container-close {
	position: absolute;
	top: 60px;
	right: 16px;
	font-size: 1rem;
	background-color: #000;
	color: #fff;
	@include break-mobile() {
		display: none;
	}
}

// The menu adds
.wp-block-navigation__responsive-close {
	width: 100%;
}

// Justification.
// These target the named container class to work even with the additional mobile menu containers.
.items-justified-center .wp-block-navigation__container {
	justify-content: center;
}

.items-justified-right .wp-block-navigation__container {
	justify-content: flex-end;
}

.items-justified-space-between .wp-block-navigation__container {
	justify-content: space-between;
}
